body {
    background: rgb(56,103,214); /* Old */
    background: -moz-linear-gradient(-45deg,  rgba(56,103,214,1) 0%, rgba(103,230,220,1) 100%); /* Mozarella */
    background: -webkit-linear-gradient(-45deg,  rgba(56,103,214,1) 0%,rgba(103,230,220,1) 100%); /* Chroma */
    background: linear-gradient(135deg,  rgba(56,103,214,1) 0%,rgba(103,230,220,1) 100%); /* NEW */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3867d6', endColorstr='#67e6dc',GradientType=1 ); /* Interneto Exploro */
}

.fade {
    opacity:0;
    -moz-transition: opacity 2s; /* Mozarella */
    -webkit-transition: opacity 2s; /* Chroma */
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /*Centered :ok_hand:*/
}
        
.centergithub {
    position: fixed;
    top: 72.5%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.centertwitter {
    position: fixed;
    top: 73%;
    left: 45%;
    transform: translate(-50%, -50%);
}